$toolbar-height = 64


md-toolbar
    height $toolbar-height

.box3, .box2, #chat-box
    display flex
    box-sizing border-box
    min-width 100%

#chat-box
    max-height 95%
    flex 1 1 95%

    li
        list-style none

#msg-input
    margin-bottom 0
    width 99%
