doctype html
html(ng-app="app" ng-cloak)
    head
        meta(charset="utf-8")
        title NodeJS Skeleton
        script(src="lib/socket.io-client/socket.io.js")
        script(src="lib/angular/angular.min.js")
        script(src="lib/angular-aria/angular-aria.js")
        script(src="lib/angular-animate/angular-animate.js")
        script(src="lib/angular-material/angular-material.min.js")
        link(rel="stylesheet", href="lib/angular-material/angular-material.min.css")
        script(src="js/app.js")
        link(rel="stylesheet", href="styles/main.css")

    body(ng-controller="appController" layout='column')
        md-toolbar toolbar
        div(flex layout="row")
            md-sidenav(flex="20" md-is-locked-open="true" class="md-whiteframe-z1")
                md-list
                    md-subheader.md-no-sticky Online
                    md-list-item.md-1-line(ng-repeat="user in onlineUsers")
                        .md-list-item-text: p {{user}}
            div(layout="column" flex)
                .box1
                    ul
                        li(ng-repeat="message in log")
                            | {{message.author}}: {{message.msg}}
                form(ng-submit="send()")
                    md-input-container#msg-input
                        label Message
                        input(type="text" ng-model="message")