doctype html
html(ng-app="app" ng-cloak)
    head
        meta(charset="utf-8")
        title NodeJS Skeleton
        script(src="lib/socket.io-client/socket.io.js")
        script(src="lib/angular/angular.min.js")
        script(src="lib/angular-aria/angular-aria.js")
        script(src="lib/angular-animate/angular-animate.js")
        script(src="lib/angular-material/angular-material.min.js")
        script(src="lib/lodash/lodash.js")
        link(rel="stylesheet", href="lib/angular-material/angular-material.min.css")
        script(src="js/app.js")
        link(rel="stylesheet", href="styles/main.css")

    body(ng-controller="appController" layout='column')
        md-toolbar: .md-toolbar-tools: h2: span Forter Challenge
        div(flex layout="row")
            md-sidenav(flex="25" md-is-locked-open="true" class="md-whiteframe-z1")
                md-list
                    md-subheader.md-no-sticky Active User
                    md-list-item
                        .md-list-item-text: p.md-body-2 {{id}}
                    md-subheader.md-no-sticky Online
                    md-list-item.md-1-line(ng-repeat="user in onlineUsers")
                        .md-list-item-text: p.md-body-2(ng-style="{'color': uniqColors[user]}") {{user}}
            div(layout="column" flex)
                div#chat-box
                    ul
                        li(ng-repeat="message in log")
                            p.md-body-2(layout-padding)
                                span.md-subhead#user-name(ng-style="{'color': uniqColors[message.author]}") {{message.author}}
                                | {{message.msg}}
                form(ng-submit="send()")
                    md-input-container#msg-input
                        label Message
                        input(autocomplete="off" type="text" ng-model="message")